.box{
	width: 300px;
    height: 200px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
}

.logintext{
 	
	position: relative;
    
	text-align: center;
    
   
    
    
}
