body{
    display:flex;
    align-items: center;
    height:75vh;
}

.box{   
	width: 300px;
    height: 200px;
    border: 0px solid black;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    
}

.logintext{
 	
	position: relative;
    
	text-align: center;
    
}

.big-btn{
    height:20%;
    width: 70%;
    
}